.composition
  position: relative
  @include respond(tablet)
    top: 2rem
  &__photo
    width: 63%
    border-radius: .5rem
    box-shadow: $box-shadow
    position: absolute
    z-index: 1
    transition: all .3s
    @include respond(tablet)
      width: 50%
    @include respond(phone)
      position: static
      display: block
      width: 80%
      margin: 0 auto 2rem
    &:hover
      transform: scale(1.1)
      z-index: 10
    &_n1
      top: 0
      left: 1rem
    &_n2
      top: 9rem
      right: 0
    &_n3
      top: 16.5rem
      left: 3rem
  &:hover &__photo:not(:hover)
    transform: scale(.90)
