@mixin style-btn($color, $color-bg)
  display: inline-block
  color: $color
  text-transform: uppercase
  background-color: $color-bg

@mixin clearfix
  &::after
    content: ''
    display: table
    clear: both

@mixin font($color, $font-size, $font-weight)
  font-size: $font-size
  color: $color
  letter-spacing: .2rem
  font-weight: $font-weight
