*,
*::before,
*::after
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%
  @media screen and (max-width:1024px)
    font-size: 50%
  @media screen and (max-width:768px)
    font-size: 43.75%

body
  font-family: "Roboto",sans-serif
  font-weight: 400
  font-size: $font-size
  letter-spacing: .2rem
  line-height: 1.2
  color: $color-grey
  background-color: $color-gray-light

a
  text-decoration: none
  color: $color-grey

.container-fluid
  max-width: 126rem
  margin: 0 auto
  padding: 5rem 1rem 0
  display: flex
  align-items: center
  justify-content: space-between

.container
  max-width: 116rem
  margin: 0 auto
  padding: 0 10px

[class^="col-"]
  float: left
  &:not(:last-child)
    margin-right: $gutter-horizontal
