$color-gray-light: #f7f7f7
$color-brown-light: #ba8554
$color-brown-darck: #a14f03
$color-grey: #777
$color-white: #fff
$color-dark: #000

// Тени
$box-shadow: 0 .4rem .4rem 0 rgba($color-dark, 0.3)
$text-shadow: 0 .4rem .4rem rgba($color-dark, .25)
// Внешние отступы
$margin-vertical-big: 8rem
$gutter-horizontal: 6rem
// размер шрифта заголовков
$font-size-h2: 3.6rem
// размер шрифта текста
$font-size: 1.6rem
// Межбуквенный интервал
$letter-spacing: .2rem
// Жирность шрифта
$font-weight-300: 300
$font-weight-400: 400
$font-weight-600: 600
$font-weight-700: 700
$font-weight-800: 800
