
.adventure-card
  background-color: rgba($color-white, 0.8)
  padding: 2.5rem
  border-radius: .5rem
  text-align: center
  box-shadow: $box-shadow
  transition: transform .3s
  &:hover
    transform: translateY(-2rem) scale(1.03)
  &__icon
    display: inline-block
    font-size: 6rem
    margin-bottom: 3rem
    background: linear-gradient(90deg, rgba($color-brown-light, 0.7) 0%, rgba($color-brown-darck, 0.7) 100%)
    -webkit-background-clip: text
    color: transparent
