.button
  @include style-btn($color-grey, $color-white)
  padding: 1.5rem 2.1rem
  border-radius: 5rem
  font-size: 2rem
  font-weight: 400
  letter-spacing: 0.25em
  transition: all .3s ease 0s
  position: relative
  &__header
    padding: 1.5rem 4rem
  &:hover
    transform: translateY(-0.4rem)
    box-shadow: $box-shadow
    &::after
      transform: scale(1.5, 1.7)
      opacity: 0
  &::after
    content: ''
    display: inline-block
    background-color: $color-white
    width: 100%
    height: 100%
    border-radius: 5rem
    position: absolute
    top: 0
    left: 0
    z-index: -1
    opacity: 1
    transition: all .3s

  &:active
    transform: translateY(-0.1rem)
    box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.1)
  &_animated
    animation: btnToUp .8s ease-out backwards
  &_brow
    background-color: $color-brown-light
    color: $color-white

.btn-text
  position: relative
  display: inline-block
  @include font($color-brown-light, 1.6rem, $font-weight-700)
  padding: 1rem
  border-bottom: 1px solid $color-brown-light
  transition: all .3s

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 0%
    height: 100%
    background-color: $color-brown-light
    transition: all .3s ease-in-out
  &:hover
    color: $color-white
    box-shadow: $box-shadow
    transform: translateY(-0.3rem)
  &:hover::before
    width: 100%
  &:active
    transform: translateY(0.3rem)
.button
  display: inline-block
  cursor: pointer
  border: none
  &:hover
    transform: translateY(-0.4rem)
    box-shadow: $box-shadow
    &::before
      transform: scale(1.5, 1.7)
      opacity: 0
  &::before
    content: ''
    display: inline-block
    background-color: $color-brown-light
    width: 100%
    height: 100%
    border-radius: 5rem
    position: absolute
    top: 0
    left: 0
    z-index: -1
    opacity: 1
    transition: all .3s
