.tour-card
  height: 55rem
  perspective: 150rem
  -moz-perspective: 150rem
  position: relative

  @include respond(tablet)
    height: auto
    padding: 0
  &__side
    border-radius: .3rem
    box-shadow: $box-shadow
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    transition: all .5s ease-out
    backface-visibility: hidden
    overflow: hidden
    @include respond(tablet)
      position: relative
      height: auto
    &_front
      background-color: $color-white
      @include respond(tablet)
        padding-bottom: 13rem
    &_back
      background-image: linear-gradient(120deg, rgba($color-brown-light, 1) 0%, rgba($color-brown-darck, 1) 100%)
      transform: rotateY(180deg)
      @include respond(tablet)
        transform: rotateY(0deg)
        padding: 12rem 5rem 5rem
        margin-top: -10rem
        clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%)

  &:hover &__side_front
    transform: rotateY(-180deg)
    @include respond(tablet)
      transform: rotateY(0deg)
  &:hover &__side_back
    transform: rotateY(0)

  &__img
    background-blend-mode: hard-light
    height: 24.5rem
    border-radius: .3rem
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)
    margin-bottom: 4.5rem
    @include respond(tablet)
      height: 40rem
    &_bg-1
      background: $color-brown-light url('../img/tour/card-1.jpg') center / cover no-repeat
    &_bg-2
      background: $color-brown-light url('../img/tour/card-2.jpg') center / cover no-repeat
    &_bg-3
      background: $color-brown-light url('../img/tour/card-3.jpg') center / cover no-repeat
  &__title
    font-weight: 300
    font-size: 2.8rem
    text-align: right
    color: $color-white
    text-transform: uppercase
    position: absolute
    top: 17.6rem
    right: 0
    @include respond(tablet)
      top: 33.6rem
  &__span
    display: block
    padding: 1rem 2rem .3rem
    background-image: linear-gradient(90deg, $color-brown-light 0%, $color-brown-darck 100%)
    &_2
      position: absolute
      top: 4rem
      right: 0
      padding-top: 0.3rem
      padding-bottom: 1rem

  &__descr
    text-align: center
  &__list
    padding: 0 3rem 3rem
  &__item
    font-weight: 700
    text-decoration: underline
    text-underline-position: under
    @include respond(tablet)
      font-size: 2rem
    &:not(:last-child)
      margin-bottom: 3rem

  &__content
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
    @include respond(tablet)
      position: relative
      top: 0%
      left: 0%
      transform: translate(0%, 0%)
  &__subtitle
    font-weight: 300
    letter-spacing: .2rem
    color: $color-white
    margin-bottom: 8.7rem
    text-transform: uppercase

  &__price
    font-weight: 500
    font-size: 6rem
    letter-spacing: .2rem
    color: $color-white
    margin-bottom: 8.7rem

  &__button
    box-shadow: $box-shadow
