.about
  padding-top: 8rem
  margin-bottom: 20rem
  @include respond(screen)
    padding-top: 5rem
    margin-bottom: 15rem
  @include respond(tablet)
    margin-bottom: 60rem
.paragraph
  font-size: $font-size
  line-height: 1.4
  letter-spacing: 0.2rem
  color: $color-grey
