.button
  display: inline-block
  padding: 1.5rem 2.1rem
  background-color: $color-white
  border-radius: 50%
  font-size: 2rem
  font-weight: 400
  letter-spacing: 1rem
  color: $color-grey
  text-transform: uppercase
  transition: transform 0.5s ease 0s
  &__header
    padding: 1.5rem 4rem
  &:hover
    transform: scale(1.1)
