.title

  &__big
    display: block
    font-weight: 800
    font-size: 5rem
    letter-spacing: 0.2em
    text-transform: uppercase
    margin-bottom: 1rem
    animation: leftToRight 2s ease-in-out
  &__subtitle
    display: block
    font-weight: 100
    font-size: 4rem
    letter-spacing: 0.12em
    margin-bottom: 5rem
    animation: rightToLeft 2s ease-in-out
  &_white
    color: #fff
