.title
  font-size: 3.6rem
  font-weight: 800
  letter-spacing: 1rem
  text-transform: uppercase
  background: linear-gradient(90deg, rgba($color-brown-light, 0.7) 0%, rgba($color-brown-darck, 0.7) 100%)
  -webkit-background-clip: text
  color: transparent
  transition: all .3s
  text-align: center
  backface-visibility: hidden
  &:hover
    text-shadow: $text-shadow
    transform: skewY(2deg) skewX(15deg) scale(1.1)
  &__about
    margin-bottom: 8rem
