.to-book
  padding: 10rem 0
  background-image: linear-gradient(90deg, $color-brown-light 3.65%, $color-brown-darck 100%)
  &__wrapper
    padding: 5rem
    width: 100%
    min-height: 50rem
    background: linear-gradient(110deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 54%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 100%),url('../img/to-book/to-book-bg.jpg') center / cover no-repeat
    @include respond(tablet)
      background: linear-gradient(110deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 504%, rgba(255,255,255,0) 54%, rgba(255,255,255,0) 100%)
